{:paths "."
 :tasks
 {:requires    ([bb-main :refer :all ])
  repl         (start-repl)
  electron     (run-electron)
  release-cljs (do (release-cljs! :elec)
                   (release-cljs! :ptr)
                   (release-cljs! :br))
  screenshot (do
               #_(compile-cljs! :ptr)
               (maybe-npm-install)
               (release-cljs! :ptr)
               (release-cljs! :br)
               (screenshots))}}
