{:source-paths ["src"]
 :dependencies []
 :dev-http {8087 "srv"}
 :nrepl false
 ;; :js-options {:js-package-dirs ["node_modules"]}
 :builds {:br {:target :browser
               :output-dir "srv/js"
               :modules {:main {:init-fn sted.page/init}}
               :release {:compiler-options {:optimizations :advanced
                                            :pretty-print true
                                            :pseudo-names true
                                            }}}
          :elec {:target :node-script
                 :output-to "srv/electron-main.js"
                 :main sted.electron-main/main}
          :ptr {:target :node-script
                :output-to "srv/td/test-driver.js"
                :main sted.test-driver/main}}}
