body {
    background-color: #000;
    color: #fff;
}
.top-level-form {
    font-family: monospace;
    line-height: 2;
}
span.symbol:not(:first-of-type) {
    padding-left: 4px;
}
span.number:not(:first-of-type) {
    padding-left: 4px;
}

span.flex {
    display: flex;
    flex-wrap: wrap;
                   
}
span.many {
    display: flex;
    /* flex-wrap: wrap; */
    margin-left: 10px;
    border: 1px solid;
    /* padding: 2px; */

}
                     
span.tk:hover {
    background-color: #ae81ff;
    cursor: pointer;
    /* background-color: #2a4a2a; */
}
span.tk {
    padding-left: 1ch;
    padding-right: 1ch;
}
span.tk.s { color: #81a2be; }
span.tk.k { color: #70c0b1; }
span.tk.p { color: #a6a6a0; }
span.tk.l { color: #b5bd68; }

span.selected {
    background-color: #2a4a2a;
}

.edit-box {
    font-family: monospace;
    display: inline;
}
