html {
    height: 100%;
}
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #000;
    color: #fff;
}
.code-font {
    font-family: "Iosevka Term SS03", monospace;
    font-size: 20px;
}

.top-level-form {
    border: 1px solid #ae81ff;
}
span.symbol:not(:first-of-type) {
    padding-left: 4px;
}
span.number:not(:first-of-type) {
    padding-left: 4px;
}

span.flex {
    display: flex;
    flex-wrap: wrap;
                   
}
span.tk:hover {
    background-color: #ae81ff;
    cursor: pointer;
}

/* syntax coloring */
span.tk.s { color: #81a2be; }
span.tk.k { color: #70c0b1; }
span.tk.p { color: #a6a6a0; }
span.tk.l { color: #b5bd68; }

span.selected {
    background-color: #2a4a2a;
}
/* spacing between tokens */
/* span.tk + span.tk { margin-left: 1ch; } */
/* span.tk + span.tk::before { content: "_"; } */


span.tk {
    padding-left: 1ch;
    padding-right: 1ch;
}

span.indented {
    margin-left: 2ch;
    display: flex;
    flex-wrap: wrap;
    white-space: pre;
    /* width: fit-content; */
}

.edit-box {
    display: inline;
    margin-right: 1ch;
    border: 0;
    padding: 0;
}

.form-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 5ex;
    width: 800px;
    /* overflow: auto; */
    resize: both;
    flex-shrink: 0;
}

#root {
    height: 100%;
}
.root-cols {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-state;
}

.sidebar-left {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 20%;
    /* overflow: auto; */
    justify-content: space-between;
    height: 100vh;
}

.main-content {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}
