html {
    height: 100%;
}
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #000;
    color: #fff;
}

a {
    color: #2c32ff;
    font-weight: bolder;
    text-decoration: none;
}

@font-face {
    font-family: iosevka-aile-light;
    src: url(iosevka-aile-light.woff2);
}

@font-face {
    font-family: iosevka-term-ss03-light;
    src: url(iosevka-term-ss03-light.woff2);
}


body {
    font-family: iosevka-aile-light;
}

.code-font {
    /* font-family: "Iosevka Term SS03", monospace; */
    font-family: iosevka-term-ss03-light;
    font-size: 14pt;
}

.top-level-form {
    /* border: 1px solid #ae81ff; */
    width: 100%;
    box-sizing: border-box;
    /* white-space: nowrap; */
}
.top-level-form.code-font {
    color: #a6a6a0;
}

span.flex {
    display: flex;
    flex-wrap: wrap;
                   
}
span.tk:hover {
    background-color: #4504b982;
    /* background-color: radial-gradient(#000, #ae81ff); */
    /* border: 1px solid #ae81ff; */
    cursor: pointer;
}

/* syntax coloring */
span.tk.s  { color: #81a2be; }
span.tk.k  { color: #70c0b1; }
span.kn    { color: #e7c547; }
span.tk.m  { color: #c397d8; }
span.tk.v  { color: #eee; }
/* span.tk.p  { color: #70c0b1; } */
span.tk.n  { color: #f0c674; }
span.tk.l  { color: #b5bd68; }

.selected {
    background-color: #062606;
    color: #fff;
    border-radius: 1ex;
}
/* spacing between tokens */
/* span.tk + span.tk { margin-left: 1ch; } */
/* span.tk + span.tk::before { content: "_"; } */


span.tk {
    padding-left: 1ch;
    padding-right: 1ch;
}

span.indented {
    margin-left: 2ch;
    display: flex;
    flex-wrap: wrap;
    white-space: pre;
    /* width: fit-content; */
}

.edit-box {
    display: inline;
    margin-right: 1ch;
    border: 0;
    padding: 0;
}
input.edit-box {
    background-color: #000;
    color: #fff;
}

.form-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 5ex;
    width: 100%;
    /* width: 800px; */
    /* overflow: auto; */
    resize: both;
    flex-shrink: 0;
}

#root {
    height: 100vh;
    margin: 0;
    padding: 0;
}


.bar {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.sidebar-left {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 15%;
    /* overflow: auto; */
    display: none;
    justify-content: space-between;
    height: 100vh;
}

.main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* margin-left: 17%; */
}

.bar > .selected  {
    width: 100%;
}
.chain {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    min-width: 24em;
    width: 100%;
    overflow-y: auto;
}

ul.parent-path li {
    display: inline;
}
ul.parent-path {
    padding: 0;
    /* max-width: min-content; */
    line-height: 2;
    /* height: 25px; */
    /* white-space: nowrap; */
}
ul.parent-path li:not(:last-child):after {
    content: ">";
    color: #777;
    padding-left: 1ex;
    padding-right: 0.3ex;
}
.parent-index {
    position: relative;
    font-size: 70%;
    color: #ae81ff;
    top: -2ex;
}

ul.parent-path:empty {
    display: none;
    /* height: 3ex; */
}

span.indent-chars {
    white-space: pre;
    background-color: #000;
}
.selected > .chain .indent-chars {
    background-color: transparent;
}
span.indenter {
    transition: margin-left 0.08s;
    /* transition-timing-function: linear; */
}
.modeline {
    /* position: fixed; */
    /* left: 0; */
    /* bottom: 0; */
    display: block;
    height: 3ex;
    width: 100%;
    color: #000;
    background-color: #ae81ff;
}

.modeline-size {
    height: 3ex;
    line-height: 3ex;
}
span.modeline.editing {
    background-color: #2a4a2a;
}
span.modeline.editing.invalid {
    background-color: red;
}
span.modeline-content {
    float: left;
    margin-right: 0.5em;
}
span.modeline-echo {
    float: right;
}
span.key-compose-echo {
    padding-left: 1ex;
}


.datoms-table {
    display: grid;
    padding-top: 2ex;
    /* padding-right: 10ex; */
    text-align: center;
    grid-template-rows: 1fr;
}
.datoms-table.ave {
    grid-template-columns: 2fr 2fr minmax(3em, 1fr);
}
.datoms-table code:nth-child(3n) { text-align: right; }
.datoms-table code:nth-child(3n-1) { text-align: right;}
.datoms-table code:nth-child(3n-2) { text-align: left;}

.datoms-table.eav {
    grid-template-columns: minmax(3em, 1fr) minmax(10em, 2fr) 2fr;
}
.keyboard-container {
    /* width: 50em; */
    font-size: 20px;
    transition: width 0.08s;
}
.keyboard-container > div  {
    margin-top: 2px;
    display: grid;
    grid-gap: 0 2px;
}
.number-row { grid-template-columns: repeat(13, 1fr) 2fr; }
.qwer-row   { grid-template-columns: 1.5fr repeat(12, 1fr) 1.5fr; }
.asdf-row   { grid-template-columns: 2fr repeat(11, 1fr) 2.5fr; }
.zxcv-row   { grid-template-columns: 3fr repeat(10, 1fr) 3fr; }
.space-row  { grid-template-columns: repeat(3, 1fr) 4.5fr repeat(4, 1fr); }

div.keyboard-container .key {
    border: 1px solid #777;
    border-radius: 0.8ex;
    /* text-align: center; */
    padding-left: 0.5ex;
    height: 6ex;
}
div.keyboard-container .key.single-width {
    min-width: 6ex;
}
div.keyboard-container .key-label  {
    font-family: monospace;
    font-size: 85%;
    text-align: center;
    margin-top: 3ex;
    color: #ae81ff;
}

.keyboard-container .key-symbol {
    position: absolute;
    margin-left: 2ex;
}


div.keyboard-container .key-legend.symbol1 {
    font-size: 250%;
    margin-top: 0;
    transform: scale(-1, -1);
}
div.keyboard-container .key-legend.symbol2 {
    font-size: 200%;
    margin-top: 0;
}

div.keyboard-container .keycap {
    color: #777;
    position: absolute;
}
.backspace {
    background-color: tomato;
}
